{{ define "content"}}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>统一社会信用代码</th>
            <th>名称</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{ range $i, $c := . }}
        <tr>
            <td>{{$i | add 1}}</td>
            <td>{{ $c.Id }}</td>
            <td>{{ $c.Name }}</td>
            <td>{{ $c.Position }}</td>
            <td>
                <a href="http://localhost:8080/edit/?id={{ $c.Id }}">编辑</a>
                <a href="javascript:void(0)" data-id="{{ $c.Id }}" class="delete">删除</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

<script>
    $(document).ready(() =>{
      $(".delete").bind("click", (event) => {
        if(confirm("确认删除?")){
            $.ajax({
                url: `/delete/?id=${event.target.dataset.id}`,
                success : function() {
                    alert("删除成功!");
                    // 删除成功后刷新页面
                     window.location.reload();
                },
                error : function(){
                    alert("删除失败!")
                }
            })
        }
      });
    });
</script>
{{end}}